.wrapperLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 89vh;
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
  .formWrapperOuter {
    width: 50%;
    @media (max-width: 800px) {
      // flex-wrap: wrap;
      width: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
      .Welcome {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: rgba(0, 0, 0, 0.5);
      }
      .GameStore {
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        margin-bottom: 70px;
      }
      .input {
        margin-top: 50px;
        width: 400px;
        @media (max-width: 450px) {
          width: 200px;
        }
        height: 50px;
        background: #ffffff;
        border: 1px solid rgba(42, 66, 84, 0.2);
        box-sizing: border-box;
        padding-left: 15px;
      }
    }
  }
  .ingWrapperOuter {
    width: 50%;
    @media (max-width: 800px) {
      // flex-wrap: wrap;
      width: 100%;
    }
    height: 100%;
    .img1 {
      background: url(https://firebasestorage.googleapis.com/v0/b/newmarket-e1a76.appspot.com/o/78a172ec17432ed83937e083eafb1d25.jpg?alt=media&token=3f4fe177-61be-41ff-8ce7-f81c561b7039)
        no-repeat 50% 50%;
      background-size: cover;
      width: 100%;
      height: 50%;
    }
    .img2 {
      background: url(https://firebasestorage.googleapis.com/v0/b/newmarket-e1a76.appspot.com/o/c838319f497fc858e3d3508f797f902d.jpg?alt=media&token=59b6b9d5-9f03-4475-866b-1e61be5bff5a)
        no-repeat;
      background-size: cover;
      width: 100%;
      height: 50%;
    }
  }
}

.button {
  width: 199px;
  height: 52px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #294050;
}
