// @mixin flexcenter {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }

.section_Wrapper {
  //   @include flexcenter;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 760px) {
    justify-content: center;
  }
  flex-wrap: wrap;
  overflow: hidden;
  padding: 50px;
  .cartWrapperOuter {
    background-color: rgba(41, 64, 80, 1);
    border-radius: 8px;
    margin-bottom: 10px;
    height: 100%;
    .cartWrappeInner {
      height: 100%;
      width: 100%;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 310px;
        height: 310px;
      }
      .textWrapper {
        width: 310px;
        color: white;
        padding: 10px;
        .spanDiscount {
          margin-left: 5px;
          text-align: center;
        }
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .productName {
          text-align: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          padding: 20px;
        }
        div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        .buttonWrapper {
          font-style: normal;
          font-weight: bold;
          margin: 15px;
          display: flex;
          justify-content: center;
          a {
            text-align: center;
            text-decoration: none;
            color: white;
            background: #398dc8;
            padding: 10px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
