.header_container {
  background-color: #294050;
  height: 90px;
  .nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: white;
      text-decoration: none;
      padding: 10px;
    }
    .name {
      color: white;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
    }
  }
}
