.input {
  width: 400px;
  @media (max-width: 450px) {
    width: 200px;
  }
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(42, 66, 84, 0.2);
  box-sizing: border-box;
  padding-left: 15px;
}

.button {
  width: 199px;
  height: 52px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #294050;
}
