body {
  font-family: "Montserrat", sans-serif;
}
.input {
  margin-top: 50px;
  width: 400px;
  @media (max-width: 450px) {
    width: 200px;
  }
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(42, 66, 84, 0.2);
  box-sizing: border-box;
  padding-left: 15px;
}

.red {
  color: red;
  padding-left: 5px;
}
.formWrapper-gl {
  .green {
    color: white;
    margin-left: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 3px;
    opacity: 0.5;
    text-align: center;
    width: 380px;
    margin-bottom: 50px;
    background-color: rgb(0, 0, 0);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
